---
layout: base.njk
title: Demo
---

<h2>Image</h2>
{% image 'https://images.unsplash.com/photo-1514722576538-e8501559835e', 'Chameleon' %}

<h2>Styles</h2>
<p class="style">These are some demo styles written in SCSS.</p>
